src/example/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="name" type="xsd:string"/>
   <element name="getNameReturn" type="xsd:string"/>
   <element name="a" type="xsd:int"/>
   <element name="b" type="xsd:int"/>
   <element name="sumReturn" type="xsd:int"/>
   <element name="from" type="xsd:string"/>
   <element name="sayHelloWorldFromReturn" type="xsd:string"/>
   <element name="getNameListReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:name" name="name"/>

   </wsdl:message>

   <wsdl:message name="sumResponse">

      <wsdl:part element="impl:sumReturn" name="sumReturn"/>

   </wsdl:message>

   <wsdl:message name="sumRequest">

      <wsdl:part element="impl:a" name="a"/>

      <wsdl:part element="impl:b" name="b"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromResponse">

      <wsdl:part element="impl:sayHelloWorldFromReturn" name="sayHelloWorldFromReturn"/>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameReturn" name="getNameReturn"/>

   </wsdl:message>

   <wsdl:message name="getNameListRequest">

   </wsdl:message>

   <wsdl:message name="getNameListResponse">

      <wsdl:part element="impl:getNameListReturn" name="getNameListReturn"/>

   </wsdl:message>

   <wsdl:message name="sayHelloWorldFromRequest">

      <wsdl:part element="impl:from" name="from"/>

   </wsdl:message>

   <wsdl:portType name="HelloWorld">

      <wsdl:operation name="getName" parameterOrder="name">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest"/>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sum" parameterOrder="a b">

         <wsdl:input message="impl:sumRequest" name="sumRequest"/>

         <wsdl:output message="impl:sumResponse" name="sumResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorldFrom" parameterOrder="from">

         <wsdl:input message="impl:sayHelloWorldFromRequest" name="sayHelloWorldFromRequest"/>

         <wsdl:output message="impl:sayHelloWorldFromResponse" name="sayHelloWorldFromResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNameList">

         <wsdl:input message="impl:getNameListRequest" name="getNameListRequest"/>

         <wsdl:output message="impl:getNameListResponse" name="getNameListResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWorldSoapBinding" type="impl:HelloWorld">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sum">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHelloWorldFrom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloWorldFromRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloWorldFromResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNameList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWorldService">

      <wsdl:port binding="impl:HelloWorldSoapBinding" name="HelloWorld">

         <wsdlsoap:address location="http://localhost:8080/WebSerDemo/services/HelloWorld"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
